<h1> Welcome Home! </h1>
<div class="container">
<% @articles.each do |article| %>
  <div class="card">
    <%= article.title %>
    <%= article.text %>
    <% if article.image.attached? %>
     <%= image_tag url_for(article.image), size: '480x360' %>
     <% end %>
    <% article.categories.each do |category| %>
      <%= category.name %>
    <% end %>
  </div>
<% end %>
</div>
