// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$base-color: #847f7b;
$primary-color: #f76108;
$background: #4e443f;
