$base-color: #847f7b;
$primary-color: #f76108;

nav {
    background-color: white;
  .nav-item {
    .nav-link{
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.navbar-light .navbar-nav .nav-link{
  color: $base-color;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: $primary-color;
}

.flash {
  background-color: $base-color;
  color: white;
}

.category{
}

.top-article {
}

.card {
  border: none;
  .card-img-overlay{
    background-color: rgba(0, 0, 0, 0.5);
  }
}
